---
layout: page
full_width: true
hero_title: Photos
---

<div class="hero hero--center hero--dark" style="width: 100%; background-color: #{{site.data.config.hero_background_color}}">
  <div class="hero__content">
    <h1>{{page.hero_title}}</h1>
  </div>
</div>

<div class="row">
  {% for image in site.static_files %}
    {% if image.path contains 'photos' %}
      <div class="col-md-6">
        <img width="100%" src="{{ site.baseurl }}{{ image.path }}" alt="image" />        
      </div>
    {% endif %}
  {% endfor %}  
</div>
